# Introduction

This project has been created using the "Flight Radar API" from "Rapid API" (https://rapidapi.com/apidojo/api/flight-radar1), who tracks the informations form FlightRadar24 (https://www.flightradar24.com/).

The aim of this project is to showcase how PySpark can be used to manage data.

# Importing libraries

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=6702e306d4e44c37e81aff647f138cc2bbbe133654e46a71cb8bd4998d899263
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [54]:
from pyspark.sql import SparkSession, Row, Window
from pyspark.sql.types import *
from pyspark.sql.functions import col, row_number, when, desc
import requests
import json

In [3]:
from google.colab import drive
drive.mount('/content/drive')

folder = "/content/drive/MyDrive/portfolio/spark_flight_data/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
with open(folder + "headers.json", "r") as f:
  headers = json.load(f)

# Creating Saprk Session

In [5]:
spark = SparkSession\
        .builder\
        .appName("flight_data")\
        .getOrCreate()

# Airline information

## Importing JSON

In [6]:
def getData(file_path, url, headers):
  try:
    f = open(file_path)
    data = json.load(f)

  except:

    response = requests.get(url, headers=headers)

    print(response.json())

    data = response.json()['rows']

    with open(file_path, 'w') as f:
      json.dump(data, f)

  return data

In [7]:
airline_file = 'airline_data.json'
airline_url = "https://flight-radar1.p.rapidapi.com/airlines/list"

airline_data = getData(folder + airline_file, airline_url, headers=headers)

airline_data[0]

{'Name': '21 Air', 'Code': '2I', 'ICAO': 'CSB'}

## Creating airline_dim

In [8]:
airline_rdd = spark.sparkContext.parallelize(airline_data)

In [9]:
airline_dim = spark.read.json(airline_rdd)

airline_dim.show()

+----+----+------------------+
|Code|ICAO|              Name|
+----+----+------------------+
|  2I| CSB|            21 Air|
|    | EMC|      247 Aviation|
|    | BRO|   2Excel Aviation|
|    | DAK|         4 Airways|
|  Q5| MLA|       40-Mile Air|
|  FE| IHO|  748 Air Services|
|  AQ| JYH|             9 Air|
|  S5| NKP|        Abakan Air|
|    | ABP|          ABS Jets|
|    | BAR|Abu Dhabi Aviation|
|  GB| ABX|           ABX Air|
|    | SON|     Acass Ireland|
|  AN| WSN|      Advanced Air|
|  A3| AEE|   Aegean Airlines|
|  EI| EIN|        Aer Lingus|
|  EG| EUK|     Aer Lingus UK|
|  JK| ACL|         AerCaribe|
|  5E| BLK|              Aero|
|  N2| NIG|              Aero|
|    | AKF|        Aero Asahi|
+----+----+------------------+
only showing top 20 rows

# Airports information

## Importing JSON

In [10]:
airports_file = 'airports_data.json'
airports_url = "https://flight-radar1.p.rapidapi.com/airports/list"

airports_data = getData(folder + airports_file, airports_url, headers=headers)

airports_data[0]

{'id': 1900,
 'name': 'A Coruna Airport',
 'iata': 'LCG',
 'icao': 'LECO',
 'city': 'A Coruna',
 'lat': 43.302059,
 'lon': -8.37725,
 'country': 'Spain',
 'alt': 326,
 'size': 4686,
 'timezone': {'name': 'Europe/Madrid',
  'offset': 7200,
  'offsetHours': '2:00',
  'abbr': 'CEST',
  'abbrName': 'Central European Summer Time',
  'isDst': True},
 'countryId': 209}

In [11]:
# Saving timezones info in a Dictionary

timezones = {}

for airport in airports_data:

  timezone = airport["timezone"]

  timezone_name = timezone["name"]

  if timezone_name not in timezones.keys():
    timezones[timezone_name] = timezone

timezones[ list(timezones.keys())[0] ]

{'name': 'Europe/Madrid',
 'offset': 7200,
 'offsetHours': '2:00',
 'abbr': 'CEST',
 'abbrName': 'Central European Summer Time',
 'isDst': True}

## Timezone information

### Saving timezone info in a DataFrame

In [12]:
# Converting input in a list of Rows

timezones_rows = [Row(**timezones[timezone_name]) for timezone_name in timezones.keys()]

timezones_rows[:5]

[Row(name='Europe/Madrid', offset=7200, offsetHours='2:00', abbr='CEST', abbrName='Central European Summer Time', isDst=True),
 Row(name='Europe/Berlin', offset=7200, offsetHours='2:00', abbr='CEST', abbrName='Central European Summer Time', isDst=True),
 Row(name='Europe/Copenhagen', offset=7200, offsetHours='2:00', abbr='CEST', abbrName='Central European Summer Time', isDst=True),
 Row(name='America/Godthab', offset=-3600, offsetHours='-1:00', abbr='-01', abbrName=None, isDst=True),
 Row(name='Asia/Tehran', offset=12600, offsetHours='3:30', abbr='+0330', abbrName=None, isDst=False)]

In [13]:
# Defining DataFrame schema
timezones_schema = StructType([
    StructField('name', StringType()),
    StructField('offset', IntegerType()),
    StructField('offsetHours', StringType()),
    StructField('abbr', StringType()),
    StructField('abbrName', StringType()),
    StructField('isDst', BooleanType())
])

# Creating DataFrame
timezones_df = spark.createDataFrame(timezones_rows, schema = timezones_schema)

timezones_df.show()

+-------------------+------+-----------+-----+--------------------+-----+
|               name|offset|offsetHours| abbr|            abbrName|isDst|
+-------------------+------+-----------+-----+--------------------+-----+
|      Europe/Madrid|  7200|       2:00| CEST|Central European ...| true|
|      Europe/Berlin|  7200|       2:00| CEST|Central European ...| true|
|  Europe/Copenhagen|  7200|       2:00| CEST|Central European ...| true|
|    America/Godthab| -3600|      -1:00|  -01|                NULL| true|
|        Asia/Tehran| 12600|       3:30|+0330|                NULL|false|
|   Asia/Krasnoyarsk| 25200|       7:00|  +07|                NULL|false|
|  America/Vancouver|-25200|      -7:00|  PDT|Pacific Daylight ...| true|
|     Pacific/Tarawa| 43200|      12:00|  +12|                NULL|false|
|      Europe/London|  3600|       1:00|  BST| British Summer Time| true|
|    America/Chicago|-18000|      -5:00|  CDT|Central Daylight ...| true|
|        Asia/Riyadh| 10800|       3:00|  +03|                NULL|false|
|     Africa/Abidjan|  NULL|       0:00|  GMT| Greenwich Mean Time|false|
|   America/New_York|-14400|      -4:00|  EDT|Eastern Daylight ...| true|
|         Asia/Dubai| 14400|       4:00|  +04|                NULL|false|
|       Africa/Cairo| 10800|       3:00| EEST|Eastern European ...| true|
|       Africa/Lagos|  3600|       1:00|  WAT|    West Africa Time|false|
|America/Mexico_City|-21600|      -6:00|  CST|Central Standard ...|false|
|       Africa/Accra|  NULL|       0:00|  GMT| Greenwich Mean Time|false|
|       America/Adak|-32400|      -9:00|  HDT|                NULL| true|
|       Asia/Kolkata| 19800|       5:30|  IST| India Standard Time|false|
+-------------------+------+-----------+-----+--------------------+-----+
only showing top 20 rows

### Checking if the same 'abbr' can correspond to different 'abbrName'

In [14]:
# Creting a DataFrame contarining unique abbr-abbrName pairs
abbr_check = timezones_df \
                              .select(["abbr", "abbrName"]) \
                              .distinct()

# Select abbr that appears more than one time
abbr_check \
          .groupBy('abbr') \
          .count() \
          .sort("count", ascending=False) \
          .filter( col('count') > 1) \
          .show()

+----+-----+
|abbr|count|
+----+-----+
|WEST|    2|
| IST|    2|
|CEST|    2|
| CST|    2|
+----+-----+

In [15]:
# Check information about abbr that appears more than one time
abbr_check \
          .filter( abbr_check.abbr.isin('IST', 'CST', 'WEST', 'CEST') ) \
          .show(truncate = False)

+----+----------------------------+
|abbr|abbrName                    |
+----+----------------------------+
|CST |Central Standard Time       |
|IST |India Standard Time         |
|WEST|Western European Summer Time|
|CEST|Central European Summer Time|
|CST |China Standard Time         |
|IST |Irish Standard Time         |
|CEST|NULL                        |
|WEST|NULL                        |
+----+----------------------------+

### Updating DataFrame

In [16]:
timezones_df = timezones_df \
                            .withColumn( # Replace conflitting 'abbr'
                                      'abbr',
                                        when( col('abbrName') == 'China Standard Time', 'ChiST') \
                                        .when( col('abbrName') == 'Irish Standard Time', 'IriST') \
                                        .otherwise(timezones_df.abbr)
                                        ). \
                            withColumn( # Fill missing 'abbrName'
                                      'abbrName',
                                      when( col('abbr') == 'CEST', 'Central European Summer Time' ) \
                                      .when( col('abbr') == 'WEST', 'Western European Summer Time') \
                                      .otherwise(timezones_df.abbrName)
                                        )



timezones_df.show()

+-------------------+------+-----------+-----+--------------------+-----+
|               name|offset|offsetHours| abbr|            abbrName|isDst|
+-------------------+------+-----------+-----+--------------------+-----+
|      Europe/Madrid|  7200|       2:00| CEST|Central European ...| true|
|      Europe/Berlin|  7200|       2:00| CEST|Central European ...| true|
|  Europe/Copenhagen|  7200|       2:00| CEST|Central European ...| true|
|    America/Godthab| -3600|      -1:00|  -01|                NULL| true|
|        Asia/Tehran| 12600|       3:30|+0330|                NULL|false|
|   Asia/Krasnoyarsk| 25200|       7:00|  +07|                NULL|false|
|  America/Vancouver|-25200|      -7:00|  PDT|Pacific Daylight ...| true|
|     Pacific/Tarawa| 43200|      12:00|  +12|                NULL|false|
|      Europe/London|  3600|       1:00|  BST| British Summer Time| true|
|    America/Chicago|-18000|      -5:00|  CDT|Central Daylight ...| true|
|        Asia/Riyadh| 10800|       3:00|  +03|                NULL|false|
|     Africa/Abidjan|  NULL|       0:00|  GMT| Greenwich Mean Time|false|
|   America/New_York|-14400|      -4:00|  EDT|Eastern Daylight ...| true|
|         Asia/Dubai| 14400|       4:00|  +04|                NULL|false|
|       Africa/Cairo| 10800|       3:00| EEST|Eastern European ...| true|
|       Africa/Lagos|  3600|       1:00|  WAT|    West Africa Time|false|
|America/Mexico_City|-21600|      -6:00|  CST|Central Standard ...|false|
|       Africa/Accra|  NULL|       0:00|  GMT| Greenwich Mean Time|false|
|       America/Adak|-32400|      -9:00|  HDT|                NULL| true|
|       Asia/Kolkata| 19800|       5:30|  IST| India Standard Time|false|
+-------------------+------+-----------+-----+--------------------+-----+
only showing top 20 rows

In [17]:
# Checking if update was successfull

abbr_check = timezones_df \
                              .select(["abbr", "abbrName"]) \
                              .distinct()

### Checking if the same 'abbr' can have multiple 'isDst'

In [18]:
abbr_check = timezones_df \
                              .select(["abbr", "isDst"]) \
                              .distinct()

abbr_check \
          .groupBy('abbr') \
          .count() \
          .sort("count", ascending=False) \
          .filter( col('count') > 1) \
          .show()

abbr_check.filter( col('abbr').isin('-01', '-02') ).show()

+----+-----+
|abbr|count|
+----+-----+
| -01|    2|
| -02|    2|
+----+-----+

+----+-----+
|abbr|isDst|
+----+-----+
| -01| true|
| -01|false|
| -02|false|
| -02| true|
+----+-----+

### Splitting DataFrame in different tables

In [19]:
timezones_df.columns

['name', 'offset', 'offsetHours', 'abbr', 'abbrName', 'isDst']

#### timezones_dim

In [20]:
timezones_dim = timezones_df \
                            .withColumn('timezoneId', row_number().over( Window.orderBy('offset')) ) \
                            .select(['timezoneId', 'name', 'offset', 'abbr', 'isDst']) \
                            .withColumnRenamed('name', 'timezoneName')


timezones_dim.show()

+----------+------------------+------+----+-----+
|timezoneId|      timezoneName|offset|abbr|isDst|
+----------+------------------+------+----+-----+
|         1|      Africa/Dakar|  NULL| GMT|false|
|         2|    Africa/Abidjan|  NULL| GMT|false|
|         3|      Africa/Accra|  NULL| GMT|false|
|         4|   Atlantic/Azores|  NULL| +00| true|
|         5|Atlantic/Reykjavik|  NULL| GMT|false|
|         6|    Africa/Conakry|  NULL| GMT|false|
|         7|     Africa/Bamako|  NULL| GMT|false|
|         8|               UTC|  NULL| UTC|false|
|         9| Africa/Nouakchott|  NULL| GMT|false|
|        10|Africa/Ouagadougou|  NULL| GMT|false|
|        11|   Africa/Freetown|  NULL| GMT|false|
|        12|       Africa/Lome|  NULL| GMT|false|
|        13|Atlantic/St_Helena|  NULL| GMT|false|
|        14|     Africa/Banjul|  NULL| GMT|false|
|        15|     Africa/Bissau|  NULL| GMT|false|
|        16|   Africa/Monrovia|  NULL| GMT|false|
|        17|   Africa/Sao_Tome|  NULL| GMT|false|
|        18| Pacific/Pago_Pago|-39600| SST|false|
|        19|      Pacific/Niue|-39600| -11|false|
|        20|  Pacific/Honolulu|-36000| HST|false|
+----------+------------------+------+----+-----+
only showing top 20 rows

#### timezones_abbr_dim

In [21]:
timezones_abbr_dim = timezones_df \
                                    .select(['abbr', 'abbrName']) \
                                    .distinct() \
                                    .withColumn('abbrId', row_number().over( Window.orderBy('abbr'))) \
                                    .select(['abbrId', 'abbr', 'abbrName'])

timezones_abbr_dim.show()

+------+-----+--------+
|abbrId| abbr|abbrName|
+------+-----+--------+
|     1|  +00|    NULL|
|     2|  +01|    NULL|
|     3|  +03|    NULL|
|     4|+0330|    NULL|
|     5|  +04|    NULL|
|     6|+0430|    NULL|
|     7|  +05|    NULL|
|     8|+0530|    NULL|
|     9|+0545|    NULL|
|    10|  +06|    NULL|
|    11|+0630|    NULL|
|    12|  +07|    NULL|
|    13|  +08|    NULL|
|    14|+0845|    NULL|
|    15|  +09|    NULL|
|    16|  +10|    NULL|
|    17|+1030|    NULL|
|    18|  +11|    NULL|
|    19|  +12|    NULL|
|    20|+1245|    NULL|
+------+-----+--------+
only showing top 20 rows

#### Refactoring timezone_dim

In [22]:
# Replacing 'abbr' with 'abbrId' in timezone_dim

timezones_dim = timezones_dim \
                                .join(
                                    timezones_abbr_dim,
                                    timezones_dim.abbr == timezones_abbr_dim.abbr,
                                    'left'
                                    ) \
                                .select(['timezoneId', 'timezoneName', 'offset', 'isDst', 'abbrId'])

timezones_dim.show()

+----------+------------------+------+-----+------+
|timezoneId|      timezoneName|offset|isDst|abbrId|
+----------+------------------+------+-----+------+
|         1|      Africa/Dakar|  NULL|false|    52|
|         2|    Africa/Abidjan|  NULL|false|    52|
|         3|      Africa/Accra|  NULL|false|    52|
|         4|   Atlantic/Azores|  NULL| true|     1|
|         5|Atlantic/Reykjavik|  NULL|false|    52|
|         6|    Africa/Conakry|  NULL|false|    52|
|         7|     Africa/Bamako|  NULL|false|    52|
|         8|               UTC|  NULL|false|    71|
|         9| Africa/Nouakchott|  NULL|false|    52|
|        10|Africa/Ouagadougou|  NULL|false|    52|
|        11|   Africa/Freetown|  NULL|false|    52|
|        12|       Africa/Lome|  NULL|false|    52|
|        13|Atlantic/St_Helena|  NULL|false|    52|
|        14|     Africa/Banjul|  NULL|false|    52|
|        15|     Africa/Bissau|  NULL|false|    52|
|        16|   Africa/Monrovia|  NULL|false|    52|
|        17|   Africa/Sao_Tome|  NULL|false|    52|
|        18| Pacific/Pago_Pago|-39600|false|    70|
|        19|      Pacific/Niue|-39600|false|    32|
|        20|  Pacific/Honolulu|-36000|false|    55|
+----------+------------------+------+-----+------+
only showing top 20 rows

## Geographic information

### Creating countries_dim table

In [23]:
# Getting set of unique countries name
countries_set = { airport['country'] for airport in airports_data}

In [24]:
# Convert set in DataFrame
# Rename 'value' col in 'countryName'
# Add 'abbrId'
# Change cols order
countries_dim = spark \
                    .createDataFrame(countries_set, StringType()) \
                    .withColumnRenamed('value', 'country') \
                    .withColumn('countryId', row_number().over( Window.orderBy('country'))) \
                    .select(["countryId", "country"])

countries_dim.show()

+---------+-------------------+
|countryId|            country|
+---------+-------------------+
|        1|        Afghanistan|
|        2|            Albania|
|        3|            Algeria|
|        4|     American Samoa|
|        5|             Angola|
|        6|           Anguilla|
|        7|         Antarctica|
|        8|Antigua And Barbuda|
|        9|          Argentina|
|       10|            Armenia|
|       11|              Aruba|
|       12|          Australia|
|       13|            Austria|
|       14|         Azerbaijan|
|       15|            Bahamas|
|       16|            Bahrain|
|       17|         Bangladesh|
|       18|           Barbados|
|       19|            Belarus|
|       20|            Belgium|
+---------+-------------------+
only showing top 20 rows

### Creating cities_dim table

In [25]:
# Create set of unique city-country pairs

cities_set = { (airport['city'], airport['country']) for airport in airports_data}

In [26]:
# Converting set in DataFrame
cities_dim = spark \
              .createDataFrame(cities_set, schema = ["city", "country"]) \
              .withColumn('cityId', row_number().over( Window.orderBy('city')))

cities_dim.show()

+---------------+--------------------+------+
|           city|             country|cityId|
+---------------+--------------------+------+
|       A Coruna|               Spain|     1|
|         Aachen|             Germany|     2|
|        Aalborg|             Denmark|     3|
|         Aarhus|             Denmark|     4|
|        Aasiaat|           Greenland|     5|
|         Abadan|                Iran|     6|
|         Abakan|              Russia|     7|
|     Abbotsford|              Canada|     8|
|  Abemama Atoll|            Kiribati|     9|
|       Aberdeen|       United States|    10|
|       Aberdeen|      United Kingdom|    11|
|           Abha|        Saudi Arabia|    12|
|        Abidjan|         Ivory Coast|    13|
|        Abilene|       United States|    14|
|       Abingdon|       United States|    15|
|      Abu Dhabi|United Arab Emirates|    16|
|Abu Musa Island|                Iran|    17|
|     Abu Simbel|               Egypt|    18|
|          Abuja|             Nigeria|    19|
|       Acapulco|              Mexico|    20|
+---------------+--------------------+------+
only showing top 20 rows

In [27]:
# Replacing 'country' with 'countryId'

cities_dim = cities_dim \
                      .join(
                          countries_dim,
                          'country',
                          'left'
                      ) \
                      .select( ['cityId', 'city', 'countryId'])

cities_dim.show()

+------+---------------+---------+
|cityId|           city|countryId|
+------+---------------+---------+
|     7|         Abakan|      170|
|     9|  Abemama Atoll|      109|
|     2|         Aachen|       76|
|    13|        Abidjan|      102|
|    21|          Accra|       77|
|    10|       Aberdeen|      216|
|    14|        Abilene|      216|
|    15|       Abingdon|      216|
|    19|          Abuja|      151|
|     1|       A Coruna|      192|
|     3|        Aalborg|       54|
|     4|         Aarhus|       54|
|     6|         Abadan|       96|
|    17|Abu Musa Island|       96|
|    20|       Acapulco|      133|
|    12|           Abha|      179|
|    16|      Abu Dhabi|      214|
|     8|     Abbotsford|       35|
|     5|        Aasiaat|       80|
|    18|     Abu Simbel|       59|
+------+---------------+---------+
only showing top 20 rows

### Creating airports_dim

In [28]:
def airport_typecaster(key, value):

  # Keep only the name of the timezone
  if key == 'timezone':
    return value['name']

  # Some 'lat' e 'lon' values are encoded as Float and some as Int,
  # so we have to convert all of them to Float
  if key in ('lat', 'lon'):
    return float(value)

  # Some values are encoded as String, so they have to be encoded as Int
  if key == 'alt':
    return int(value)

  return value

In [29]:
airports_col_to_remove = ["country"]

airports_data_typecasted = [
                            {key: airport_typecaster(key, value) for key, value in airport.items() if key not in airports_col_to_remove }
                             for airport in airports_data
                            ]

In [30]:
airport_rows = [Row(**airport) for airport in airports_data_typecasted]

airport_rows[:4]

[Row(id=1900, name='A Coruna Airport', iata='LCG', icao='LECO', city='A Coruna', lat=43.302059, lon=-8.37725, alt=326, size=4686, timezone='Europe/Madrid', countryId=209),
 Row(id=3, name='Aachen Merzbruck Airport', iata='AAH', icao='EDKA', city='Aachen', lat=50.821899, lon=6.184759, alt=626, size=1491, timezone='Europe/Berlin', countryId=83),
 Row(id=4, name='Aalborg Airport', iata='AAL', icao='EKYT', city='Aalborg', lat=57.095112, lon=9.855172, alt=3, size=8856, timezone='Europe/Copenhagen', countryId=61),
 Row(id=9, name='Aarhus Airport', iata='AAR', icao='EKAH', city='Aarhus', lat=56.303295, lon=10.619129, alt=71, size=3919, timezone='Europe/Copenhagen', countryId=61)]

In [31]:
airport_schema = StructType([
    StructField('id', IntegerType()),
    StructField('airportName', StringType()),
    StructField('iata', StringType()),
    StructField('icao', StringType()),
    StructField('city', StringType()),
    StructField('lat', DoubleType()),
    StructField('lon', DoubleType()),
    StructField('alt', IntegerType()),
    StructField('size', IntegerType()),
    StructField('timezoneName', StringType()),
    StructField('countryId', IntegerType()),
])

In [32]:
airport_df = spark.createDataFrame(airport_rows, airport_schema)

airport_df.show()

+----+--------------------+----+----+---------------+---------+-----------+----+-----+-----------------+---------+
|  id|         airportName|iata|icao|           city|      lat|        lon| alt| size|     timezoneName|countryId|
+----+--------------------+----+----+---------------+---------+-----------+----+-----+-----------------+---------+
|1900|    A Coruna Airport| LCG|LECO|       A Coruna|43.302059|   -8.37725| 326| 4686|    Europe/Madrid|      209|
|   3|Aachen Merzbruck ...| AAH|EDKA|         Aachen|50.821899|   6.184759| 626| 1491|    Europe/Berlin|       83|
|   4|     Aalborg Airport| AAL|EKYT|        Aalborg|57.095112|   9.855172|   3| 8856|Europe/Copenhagen|       61|
|   9|      Aarhus Airport| AAR|EKAH|         Aarhus|56.303295|  10.619129|  71| 3919|Europe/Copenhagen|       61|
|7569|  Aarhus Sea Airport| QEA|EKAC|         Aarhus|56.151993|  10.247725|   1|  139|Europe/Copenhagen|       61|
|1596|     Aasiaat Airport| JEG|BGAA|        Aasiaat| 68.72184| -52.784698|  74|  574|  America/Godthab|       87|
|  12|      Abadan Airport| ABD|OIAA|         Abadan|30.371111|  48.228329|  19| 2099|      Asia/Tehran|      104|
|  11|Abakan Internatio...| ABA|UNAA|         Abakan|53.740002|  91.385002| 831| 2146| Asia/Krasnoyarsk|      182|
|4146|Abbotsford Intern...| YXX|CYXX|     Abbotsford|49.025269|-122.360001| 195| 7188|America/Vancouver|       40|
|  53|     Abemama Airport| AEA|NGTB|  Abemama Atoll| 0.490833| 173.828598|   8|  248|   Pacific/Tarawa|      116|
|  27|Aberdeen Internat...| ABZ|EGPD|       Aberdeen|57.201939|   -2.19777| 215|20546|    Europe/London|      235|
|  20|Aberdeen Regional...| ABR|KABR|       Aberdeen|45.439999| -98.419998|1302| 3549|  America/Chicago|      236|
|  80|Abha Regional Air...| AHB|OEAB|           Abha| 18.24036|   42.65662|6858|16314|      Asia/Riyadh|      194|
|  16|Abidjan Port Boue...| ABJ|DIAP|        Abidjan| 5.261386|   -3.92629|  21|11907|   Africa/Abidjan|       54|
|  15|Abilene Regional ...| ABI|KABI|        Abilene|32.411301| -99.681801|1790| 5984|  America/Chicago|      236|
|7403|Abingdon Virginia...| VJI|KVJI|       Abingdon|36.686111| -82.033333|2088| 1778| America/New_York|      236|
| 251|Abu Dhabi Al Bate...| AZI|OMAD|      Abu Dhabi|24.428329|   54.45808|  16| 1165|       Asia/Dubai|      234|
|6183|Abu Dhabi Al Dhaf...| DHF|OMAM|      Abu Dhabi|24.248199|  54.547699|  77|  119|       Asia/Dubai|      234|
| 220|Abu Dhabi Zayed I...| AUH|OMAA|      Abu Dhabi|24.442856|  54.651474|  62|74044|       Asia/Dubai|      234|
|6156|Abu Musa Island A...| AEU|OIBA|Abu Musa Island|  25.8757|  55.033001|  23|   44|      Asia/Tehran|      104|
+----+--------------------+----+----+---------------+---------+-----------+----+-----+-----------------+---------+
only showing top 20 rows

In [33]:
cities_dim.show()

+------+---------------+---------+
|cityId|           city|countryId|
+------+---------------+---------+
|     7|         Abakan|      170|
|     9|  Abemama Atoll|      109|
|     2|         Aachen|       76|
|    13|        Abidjan|      102|
|    21|          Accra|       77|
|    10|       Aberdeen|      216|
|    14|        Abilene|      216|
|    15|       Abingdon|      216|
|    19|          Abuja|      151|
|     1|       A Coruna|      192|
|     3|        Aalborg|       54|
|     4|         Aarhus|       54|
|     6|         Abadan|       96|
|    17|Abu Musa Island|       96|
|    20|       Acapulco|      133|
|    12|           Abha|      179|
|    16|      Abu Dhabi|      214|
|     8|     Abbotsford|       35|
|     5|        Aasiaat|       80|
|    18|     Abu Simbel|       59|
+------+---------------+---------+
only showing top 20 rows

### Creating airport_dim

In [34]:
airport_df.show()

+----+--------------------+----+----+---------------+---------+-----------+----+-----+-----------------+---------+
|  id|         airportName|iata|icao|           city|      lat|        lon| alt| size|     timezoneName|countryId|
+----+--------------------+----+----+---------------+---------+-----------+----+-----+-----------------+---------+
|1900|    A Coruna Airport| LCG|LECO|       A Coruna|43.302059|   -8.37725| 326| 4686|    Europe/Madrid|      209|
|   3|Aachen Merzbruck ...| AAH|EDKA|         Aachen|50.821899|   6.184759| 626| 1491|    Europe/Berlin|       83|
|   4|     Aalborg Airport| AAL|EKYT|        Aalborg|57.095112|   9.855172|   3| 8856|Europe/Copenhagen|       61|
|   9|      Aarhus Airport| AAR|EKAH|         Aarhus|56.303295|  10.619129|  71| 3919|Europe/Copenhagen|       61|
|7569|  Aarhus Sea Airport| QEA|EKAC|         Aarhus|56.151993|  10.247725|   1|  139|Europe/Copenhagen|       61|
|1596|     Aasiaat Airport| JEG|BGAA|        Aasiaat| 68.72184| -52.784698|  74|  574|  America/Godthab|       87|
|  12|      Abadan Airport| ABD|OIAA|         Abadan|30.371111|  48.228329|  19| 2099|      Asia/Tehran|      104|
|  11|Abakan Internatio...| ABA|UNAA|         Abakan|53.740002|  91.385002| 831| 2146| Asia/Krasnoyarsk|      182|
|4146|Abbotsford Intern...| YXX|CYXX|     Abbotsford|49.025269|-122.360001| 195| 7188|America/Vancouver|       40|
|  53|     Abemama Airport| AEA|NGTB|  Abemama Atoll| 0.490833| 173.828598|   8|  248|   Pacific/Tarawa|      116|
|  27|Aberdeen Internat...| ABZ|EGPD|       Aberdeen|57.201939|   -2.19777| 215|20546|    Europe/London|      235|
|  20|Aberdeen Regional...| ABR|KABR|       Aberdeen|45.439999| -98.419998|1302| 3549|  America/Chicago|      236|
|  80|Abha Regional Air...| AHB|OEAB|           Abha| 18.24036|   42.65662|6858|16314|      Asia/Riyadh|      194|
|  16|Abidjan Port Boue...| ABJ|DIAP|        Abidjan| 5.261386|   -3.92629|  21|11907|   Africa/Abidjan|       54|
|  15|Abilene Regional ...| ABI|KABI|        Abilene|32.411301| -99.681801|1790| 5984|  America/Chicago|      236|
|7403|Abingdon Virginia...| VJI|KVJI|       Abingdon|36.686111| -82.033333|2088| 1778| America/New_York|      236|
| 251|Abu Dhabi Al Bate...| AZI|OMAD|      Abu Dhabi|24.428329|   54.45808|  16| 1165|       Asia/Dubai|      234|
|6183|Abu Dhabi Al Dhaf...| DHF|OMAM|      Abu Dhabi|24.248199|  54.547699|  77|  119|       Asia/Dubai|      234|
| 220|Abu Dhabi Zayed I...| AUH|OMAA|      Abu Dhabi|24.442856|  54.651474|  62|74044|       Asia/Dubai|      234|
|6156|Abu Musa Island A...| AEU|OIBA|Abu Musa Island|  25.8757|  55.033001|  23|   44|      Asia/Tehran|      104|
+----+--------------------+----+----+---------------+---------+-----------+----+-----+-----------------+---------+
only showing top 20 rows

In [35]:
airport_dim = airport_df \
                            .join( # Replace 'timezone' with 'timezoneId'
                                timezones_dim,
                                'timezoneName',
                                'left'
                              ) \
                            .join( # Replace 'city' with 'cityId'
                                cities_dim,
                                airport_df.city == cities_dim.city,
                                'left'
                              ) \
                            .select(
                                [ 'id', 'airportName', 'iata', 'icao', 'lat', 'lon', 'size', 'cityId', 'timezoneId' ]
                            )

airport_dim.show()

+----+--------------------+----+----+---------+-----------+-----+------+----------+
|  id|         airportName|iata|icao|      lat|        lon| size|cityId|timezoneId|
+----+--------------------+----+----+---------+-----------+-----+------+----------+
|4206|      Masset Airport| ZMT|CZMT|    54.02|-132.119995| 1334|  2851|        32|
|7633|      Maxton Airport| MXE|KMEB|34.792423| -79.369392|  435|  2870|       104|
|  21|  Abu Simbel Airport| ABS|HEBL| 22.37595|  31.611719|   70|    18|       264|
|2094|Matamoros Interna...| MAM|MMMA| 25.76989| -97.525299| 1248|  2857|        67|
|6909|Matak Tarempa Air...| MWK|WIOM|  3.34812| 106.258003|    3|  2856|       306|
|7403|Abingdon Virginia...| VJI|KVJI|36.686111| -82.033333| 1778|    15|       104|
|2273|Maumere Frans Sed...| MOF|WATC| -8.64064| 122.236801|  883|  2866|       319|
|  11|Abakan Internatio...| ABA|UNAA|53.740002|  91.385002| 2146|     7|       308|
|  16|Abidjan Port Boue...| ABJ|DIAP| 5.261386|   -3.92629|11907|    13|         1|
|2335|        Maun Airport| MUB|FBMN| -19.9725|   23.43108| 2957|  2867|       212|
|  20|Aberdeen Regional...| ABR|KABR|45.439999| -98.419998| 3549|    11|        65|
|  20|Aberdeen Regional...| ABR|KABR|45.439999| -98.419998| 3549|    10|        65|
|2341|Maturin Internati...| MUN|SVMT| 9.749067|   -63.1534| 1092|  2864|        90|
|1596|     Aasiaat Airport| JEG|BGAA| 68.72184| -52.784698|  574|     5|       158|
|7533|Mattoon/Charlesto...| MTO|KMTO|39.477982| -88.279648| 1579|  2863|        65|
|4146|Abbotsford Intern...| YXX|CYXX|49.025269|-122.360001| 7188|     8|        32|
| 251|Abu Dhabi Al Bate...| AZI|OMAD|24.428329|   54.45808| 1165|    16|       274|
|6183|Abu Dhabi Al Dhaf...| DHF|OMAM|24.248199|  54.547699|  119|    16|       274|
| 220|Abu Dhabi Zayed I...| AUH|OMAA|24.442856|  54.651474|74044|    16|       274|
|6653|       Maues Airport| MBZ|SWMW| -3.37217|   -57.7248|  150|  2865|        91|
+----+--------------------+----+----+---------+-----------+-----+------+----------+
only showing top 20 rows

# Aircraft information

## Importing JSON

In [36]:
aircraft_file = 'aircraft_data.json'
aircraft_url = "https://flight-radar1.p.rapidapi.com/aircrafts/list"

aircraft_data = getData(folder + aircraft_file, aircraft_url, headers=headers)

## Saving aircarft info in a DataFrame

In [37]:
aircraft_rows = []

for family in aircraft_data:
  for model in family['models']:
      model['family'] = family['description']
      aircraft_rows.append(Row(**model))

In [38]:
aircraft_df = spark.createDataFrame(aircraft_rows, schema = ['aircraftName', 'code', 'family'])

aircraft_df.show()

+----------------+----+------------------+
|    aircraftName|code|            family|
+----------------+----+------------------+
| Airbus A220-100|BCS1|Airbus A220 family|
| Airbus A220-300|BCS3|Airbus A220 family|
|     Airbus A300|A30B|Airbus A300 family|
| Airbus A300-600|A306|Airbus A300 family|
|     Airbus A310|A310|Airbus A310 family|
|     Airbus A318|A318|Airbus A320 family|
|     Airbus A319|A319|Airbus A320 family|
|  Airbus A319neo|A19N|Airbus A320 family|
|     Airbus A320|A320|Airbus A320 family|
|  Airbus A320neo|A20N|Airbus A320 family|
|     Airbus A321|A321|Airbus A320 family|
|  Airbus A321neo|A21N|Airbus A320 family|
| Airbus A330-200|A332|Airbus A330 family|
| Airbus A330-300|A333|Airbus A330 family|
| Airbus A330-900|A339|Airbus A330 family|
| Airbus A340-200|A342|Airbus A340 family|
| Airbus A340-300|A343|Airbus A340 family|
| Airbus A340-500|A345|Airbus A340 family|
| Airbus A340-600|A346|Airbus A340 family|
|Airbus A350-1000|A35K|Airbus A350 family|
+----------------+----+------------------+
only showing top 20 rows

In [39]:
aircraft_df.groupBy("family").count().sort("count", ascending=False).show()

+--------------------+-----+
|              family|count|
+--------------------+-----+
|   Boeing 737 family|   11|
|  Airbus A320 family|    7|
|   Boeing 747 family|    5|
|Bombardier CRJ fa...|    5|
|McDonnell Douglas...|    5|
|Embraer E-Jet family|    5|
|  Airbus A340 family|    4|
|   Boeing 777 family|    4|
|Bombardier Dash 8...|    4|
|  Airbus A330 family|    3|
|      Avro RJ family|    3|
|       ATR 42 family|    3|
|       ATR 72 family|    3|
|       Fokker family|    3|
|   Boeing 787 family|    3|
|   Boeing 767 family|    3|
|  Airbus A220 family|    2|
|  Airbus A350 family|    2|
|  Airbus A300 family|    2|
|   Boeing 757 family|    2|
+--------------------+-----+
only showing top 20 rows

## Creating aircraft_family_dim

In [40]:
aircraft_family_dim = aircraft_df \
                                  .select('family') \
                                  .distinct() \
                                  .withColumn('familyId', row_number().over( Window.orderBy('family') ))

aircraft_family_dim.show()

+--------------------+--------+
|              family|familyId|
+--------------------+--------+
|       ATR 42 family|       1|
|       ATR 72 family|       2|
|  Airbus A220 family|       3|
|  Airbus A300 family|       4|
|  Airbus A310 family|       5|
|  Airbus A320 family|       6|
|  Airbus A330 family|       7|
|  Airbus A340 family|       8|
|  Airbus A350 family|       9|
|     Airbus A380-800|      10|
|      Avro RJ family|      11|
|   Boeing 737 family|      12|
|   Boeing 747 family|      13|
|   Boeing 757 family|      14|
|   Boeing 767 family|      15|
|   Boeing 777 family|      16|
|   Boeing 787 family|      17|
|Bombardier CRJ fa...|      18|
|Bombardier Dash 8...|      19|
|Embraer E-Jet family|      20|
+--------------------+--------+
only showing top 20 rows

## Creating aircraft_dim

In [41]:
aircraft_dim = aircraft_df \
                          .join(
                              aircraft_family_dim,
                              'family',
                              'left'
                          ) \
                          .select( [ 'aircraftName', 'code', 'familyId']) \

aircraft_dim.show()

+----------------+----+--------+
|    aircraftName|code|familyId|
+----------------+----+--------+
| Airbus A220-100|BCS1|       3|
| Airbus A220-300|BCS3|       3|
| Airbus A330-200|A332|       7|
| Airbus A330-300|A333|       7|
| Airbus A330-900|A339|       7|
| Airbus A340-200|A342|       8|
| Airbus A340-300|A343|       8|
| Airbus A340-500|A345|       8|
| Airbus A340-600|A346|       8|
|     Airbus A310|A310|       5|
|Airbus A350-1000|A35K|       9|
| Airbus A350-900|A359|       9|
|     Airbus A300|A30B|       4|
| Airbus A300-600|A306|       4|
|     Airbus A318|A318|       6|
|     Airbus A319|A319|       6|
|  Airbus A319neo|A19N|       6|
|     Airbus A320|A320|       6|
|  Airbus A320neo|A20N|       6|
|     Airbus A321|A321|       6|
+----------------+----+--------+
only showing top 20 rows

# Flights

##  Most tracked

### Importing JSON

In [62]:
def get_flight_list(folder, url, headers, params = None):

    response = requests.get(url, headers=headers, params=params)

    print(response.json())

    data = response.json()["data"]

    file_name = folder + "flight" + str(response.json()["update_time"]) + ".json"

    with open(file_name, 'w') as f:
      json.dump(data, f)

    return(data)

In [43]:
flight_url = "https://flight-radar1.p.rapidapi.com/flights/list-most-tracked"
flight_folder = "/content/drive/MyDrive/portfolio/spark_flight_data/flight/"

flight_data = get_flight_list(flight_folder, flight_url, headers)

{'version': '0.3.9', 'update_time': 1721899393.58544, 'data': [{'flight_id': '36510f76', 'flight': 'MR21', 'callsign': 'MR21', 'squawk': None, 'clicks': 1672, 'from_iata': None, 'from_city': None, 'to_iata': None, 'to_city': None, 'model': 'F15', 'type': 'McDonnell Douglas F-15E Eagle'}, {'flight_id': '3650dcff', 'flight': 'ROF9142', 'callsign': 'ROF9142', 'squawk': None, 'clicks': 1460, 'from_iata': 'OTP', 'from_city': 'Bucharest', 'to_iata': 'BCM', 'to_city': 'Bacau', 'model': 'DRON', 'type': 'Schiebel Camcopter S-100'}, {'flight_id': '36511bdc', 'flight': 'GAF733', 'callsign': 'GAF733', 'squawk': None, 'clicks': 760, 'from_iata': None, 'from_city': None, 'to_iata': None, 'to_city': None, 'model': 'A400', 'type': 'Airbus A400M Atlas'}, {'flight_id': '36513673', 'flight': None, 'callsign': 'CAPTR', 'squawk': None, 'clicks': 484, 'from_iata': None, 'from_city': None, 'to_iata': None, 'to_city': None, 'model': 'HAWK', 'type': 'British Aerospace Hawk MK.167'}, {'flight_id': '3650c1f0', 'flight': None, 'callsign': 'NATO01', 'squawk': None, 'clicks': 448, 'from_iata': 'GKE', 'from_city': 'Geilenkirchen', 'to_iata': None, 'to_city': None, 'model': 'E3TF', 'type': 'Boeing E-3A Sentry'}, {'flight_id': '36513462', 'flight': None, 'callsign': 'CAPTR', 'squawk': None, 'clicks': 444, 'from_iata': 'QKG', 'from_city': 'Leeming', 'to_iata': None, 'to_city': None, 'model': 'HAWK', 'type': 'British Aerospace Hawk Mk.167'}, {'flight_id': '36510808', 'flight': 'GR601', 'callsign': 'AUR601Y', 'squawk': None, 'clicks': 412, 'from_iata': 'LGW', 'from_city': 'London', 'to_iata': 'GCI', 'to_city': 'Guernsey', 'model': 'AT76', 'type': 'ATR 72-600'}, {'flight_id': '36513fbf', 'flight': None, 'callsign': 'SARAB', 'squawk': None, 'clicks': 392, 'from_iata': None, 'from_city': None, 'to_iata': None, 'to_city': None, 'model': 'HAWK', 'type': 'BAe Hawk T2'}, {'flight_id': '365139b2', 'flight': None, 'callsign': 'CAPTR', 'squawk': None, 'clicks': 332, 'from_iata': 'QKG', 'from_city': 'Leeming', 'to_iata': None, 'to_city': None, 'model': 'HAWK', 'type': 'BAe Systems Hawk Mk.167'}, {'flight_id': '364fc8a8', 'flight': 'TK24', 'callsign': 'THY24', 'squawk': None, 'clicks': 296, 'from_iata': 'IST', 'from_city': 'Istanbul', 'to_iata': 'TPE', 'to_city': 'Taipei', 'model': 'B77W', 'type': 'Boeing 777-3F2(ER)'}]}

### Saving info in a DataFrame

In [45]:
# Converting list of Dictionaries in a list of Rows
fligth_rows = [Row(**flight) for flight in flight_data]

In [46]:
# Defining schema
flight_schema = StructType([
    StructField('flightId', StringType()),
    StructField('flight', StringType()),
    StructField('callsign', StringType()),
    StructField('squawk', StringType()),
    StructField('clicks', IntegerType()),
    StructField('from_iata', StringType()),
    StructField('from_city', StringType()),
    StructField('to_iata', StringType()),
    StructField('to_city', StringType()),
    StructField('model', StringType()),
    StructField('type', StringType())
])

In [47]:
flight_data = spark.read.json(flight_folder + "flight*.json")

flight_data.show()

+--------+------+------+---------+-----------+---------+-----+------+--------+-------+--------------------+
|callsign|clicks|flight|flight_id|  from_city|from_iata|model|squawk| to_city|to_iata|                type|
+--------+------+------+---------+-----------+---------+-----+------+--------+-------+--------------------+
|  CFR230|   440|CFR230| 364fb83b|       NULL|     NULL|  V10|  NULL|    NULL|   NULL|North American OV...|
|   CFR88|   352| CFR88| 364f9c6b|       NULL|     NULL|  S2T|  NULL|    NULL|   NULL|Marsh S-2F3AT Tur...|
| ABD7743|   268|CC7743| 364e1732|  Frankfurt|      HHN| B744|  NULL| Chicago|    RFD| Boeing 747-481(BCF)|
|   CFR91|   264| CFR91| 364fd229|      Chico|      CIC|  S2T|  NULL|    NULL|   NULL|Marsh S-2F3AT Tur...|
|   CFR89|   260| CFR89| 364fcf58|      Chico|      CIC|  S2T|  NULL|    NULL|   NULL|Marsh S-2F3AT Tur...|
|  ASL135|   200| JU135| 364f809b|     Moscow|      SVO| A320|  NULL|Belgrade|    BEG|     Airbus A320-232|
|   CFR93|   156| CFR93| 364fcf0e|      Chico|      CIC|  S2T|  NULL|    NULL|   NULL|Marsh S-2F3AT Tur...|
|  AIC984|   152| AI984| 364f468b|      Dubai|      DXB| A359|  NULL|  Mumbai|    BOM|     Airbus A350-941|
|   N144P|   116|  NULL| 364fc8f6|    Oshkosh|      OSH| RV14|  NULL|    NULL|   NULL|          Vans RV-14|
|  N10601|   112|  NULL| 364fc75f|Fond du Lac|      FLD|  P51|  NULL|    NULL|   NULL|North American P-...|
| ABD7743|   672|CC7743| 364e1732|  Frankfurt|      HHN| B744|  NULL| Chicago|    RFD| Boeing 747-481(BCF)|
|  CFR230|   436|CFR230| 364fb83b|       NULL|     NULL|  V10|  NULL|    NULL|   NULL|North American OV...|
|  ASL135|   200| JU135| 364f809b|     Moscow|      SVO| A320|  NULL|Belgrade|    BEG|     Airbus A320-232|
|  TTW230|   172| IT230| 364fcaef|     Taipei|      TPE| A320|  NULL| Okinawa|    OKA|     Airbus A320-232|
|   CFR91|   172| CFR91| 364fd229|      Chico|      CIC|  S2T|  NULL|    NULL|   NULL|Marsh S-2F3AT Tur...|
| EVA3216|   168|BR3216| 364fd35f|     Taipei|      TPE| A321|  NULL|    NULL|   NULL|     Airbus A321-211|
|   CFR88|   160| CFR88| 364f9c6b|       NULL|     NULL|  S2T|  NULL|    NULL|   NULL|Marsh S-2F3AT Tur...|
|  TTW654|   152| IT654| 364fca33|     Taipei|      TPE| A320|  NULL|    Jeju|    CJU|     Airbus A320-232|
|RRR9959X|   148|  NULL| 364fd02f|       NULL|     NULL| EUFI|  NULL|    NULL|   NULL|Eurofighter Typho...|
|   N10BA|   124|  NULL| 364fcdf7|    Oshkosh|      OSH| CC11|  NULL|    NULL|   NULL|CubCrafters Carbo...|
+--------+------+------+---------+-----------+---------+-----+------+--------+-------+--------------------+
only showing top 20 rows

In [48]:
flight_data.count()

50

In [58]:
fligth_df = flight_data \
                .select( # Removing 'from_city' and 'to_city' since can be retreved using 'from_iata' e 'to_iata'.
                         # Removing aircraft 'type' since can be retreaved using 'model'
                    [ 'flight_id', 'flight', 'callsign', 'squawk', 'clicks', 'from_iata', 'to_iata', 'model']
                ) \
                .withColumn( # COunt how many times the same id appears
                    "isDuplicate", row_number().over( Window.orderBy( desc('clicks') ).partitionBy("flight_id") )
                ) \
                .filter( # Drop all the outdated rows
                    col("isDuplicate") == 1
                ) \
                .drop( # Drop 'isDuplicate', since no longer needed
                    "isDuplicate"
                ) \
                .sort('clicks', ascending = False)

fligth_df.show()

+---------+-------+--------+------+------+---------+-------+-----+
|flight_id| flight|callsign|squawk|clicks|from_iata|to_iata|model|
+---------+-------+--------+------+------+---------+-------+-----+
| 36510f76|   MR21|    MR21|  NULL|  1672|     NULL|   NULL|  F15|
| 3650dcff|ROF9142| ROF9142|  NULL|  1460|      OTP|    BCM| DRON|
| 364fbb07|   NULL|  SNBD01|  NULL|  1276|      DLH|   NULL| CL41|
| 364f9cdd|   NULL|   N529B|  NULL|   812|      OSH|   NULL|  B29|
| 36511bdc| GAF733|  GAF733|  NULL|   760|     NULL|   NULL| A400|
| 364e1732| CC7743| ABD7743|  NULL|   672|      HHN|    RFD| B744|
| 364fd7d6|  JX701|  SJX701|  NULL|   508|      TPE|    DAD| A339|
| 36513673|   NULL|   CAPTR|  NULL|   484|     NULL|   NULL| HAWK|
| 3650c1f0|   NULL|  NATO01|  NULL|   448|      GKE|   NULL| E3TF|
| 36513462|   NULL|   CAPTR|  NULL|   444|      QKG|   NULL| HAWK|
| 364fb83b| CFR230|  CFR230|  NULL|   440|     NULL|   NULL|  V10|
| 36510808|  GR601| AUR601Y|  NULL|   412|      LGW|    GCI| AT76|
| 364fddf1|  IT246|  TTW246|  NULL|   404|      TPE|    HSG| A20N|
| 36513fbf|   NULL|   SARAB|  NULL|   392|     NULL|   NULL| HAWK|
| 364f9c6b|  CFR88|   CFR88|  NULL|   352|     NULL|   NULL|  S2T|
| 365139b2|   NULL|   CAPTR|  NULL|   332|      QKG|   NULL| HAWK|
| 364fd35f| BR3216| EVA3216|  NULL|   300|      TPE|   NULL| A321|
| 364fc8a8|   TK24|   THY24|  NULL|   296|      IST|    TPE| B77W|
| 364fdf6d|   NULL|   DIOVP|  NULL|   296|      HAM|    BRU| PAY3|
| 364fe062|   NULL|   N10BA|  NULL|   284|      OSH|   NULL| CC11|
+---------+-------+--------+------+------+---------+-------+-----+
only showing top 20 rows

In [50]:
fligth_df.count()

34

## In boundary

### Importing JSON

In [65]:
in_boundary_url = "https://flight-radar1.p.rapidapi.com/flights/list-in-boundary"
in_bounadary_folder = "/content/drive/MyDrive/portfolio/spark_flight_data/flight_in_boundary/"

querystring = {"bl_lat":"10","bl_lng":"80","tr_lat":"15","tr_lng":"120","limit":"300"}

response = requests.get(in_boundary_url, headers=headers, params=querystring)

print(response.json())

{'full_count': 15824, 'version': 5, 'aircraft': [['3650cd17', '', 13.77, 80.49, 109, 47000, 428, '', 'F-VOMM8', 'GLF6', '', 1721900696, '', '', '', 0, 0, 'GLF6', 0], ['3650fd72', '76BCC3', 13.15, 91.09, 312, 43000, 489, '', 'F-VOPB4', 'B788', '9V-OFC', 1721900695, 'SIN', 'ATQ', 'TR512', 0, 0, 'TGW512', 0], ['3650f033', '76CD12', 13.13, 118.9, 41, 41000, 443, '', 'F-RPVS1', 'A359', '9V-SHR', 1721900695, 'SIN', 'ICN', 'SQ606', 0, 0, 'SIA606', 0], ['36511317', '76CD0A', 12.58, 83.73, 116, 41000, 448, '', 'F-VOMM7', 'A359', '9V-SHJ', 1721900692, 'BOM', 'SIN', 'SQ421', 0, 0, 'SIA421', 0], ['3650f5db', '76CD0B', 10.19, 86.39, 294, 40004, 525, '', 'F-SAT5', 'A359', '9V-SHK', 1721900697, 'SIN', 'DXB', 'SQ494', 0, 0, 'SIA494', 0], ['36511075', '780D77', 11.87, 110.35, 29, 40000, 482, '', 'T-VVTH3', 'B788', 'B-2762', 1721900695, 'SIN', 'XMN', 'MF852', 0, 0, 'CXA852', 0], ['3650ab32', '89916C', 12.45, 111.93, 215, 40000, 499, '', 'T-VVTH3', 'A359', 'B-18919', 1721900678, 'TPE', 'SIN', 'CI753', 0, 0, 'CAL753', 0], ['36510ac2', '750543', 10.82, 108.19, 193, 40000, 476, '', 'F-VVTS4', 'A333', '9M-XBH', 1721900696, 'HKG', 'KUL', 'D7693', 0, 0, 'XAX693', 0], ['3650e2e6', '76CDA5', 13.06, 109.46, 212, 40000, 509, '', 'F-VVPC2', 'A359', '9V-SME', 1721900696, 'PVG', 'SIN', 'SQ831', 0, 0, 'SIA831', 0], ['3650ccaa', '750255', 14.43, 110.35, 216, 40000, 498, '', 'F-VVPC2', 'A333', '9M-MTB', 1721900695, 'PKX', 'KUL', 'MH319', 0, 0, 'MAS319', 0], ['3651279c', '8880DF', 14.65, 108.17, 181, 39975, 488, '', 'F-VVPC2', 'B789', 'VN-A861', 1721900696, 'HAN', 'SGN', 'VN249', 0, -64, 'HVN249', 0], ['36500307', '80073F', 12.45, 93.8, 315, 39975, 478, '', 'F-VOPB4', 'B788', 'VT-ANY', 1721900695, 'MEL', 'DEL', 'AI309', 0, -64, 'AIC309', 0], ['36511929', '780A0D', 13.96, 110.0, 214, 39000, 489, '', 'F-VVPC2', 'A333', 'B-LAP', 1721900696, 'HKG', 'CGK', 'CX719', 0, 0, 'CPA719', 0], ['3650af9b', '70C0F9', 14.86, 93.89, 98, 39000, 482, '', 'F-EST', 'B789', 'A4O-SF', 1721900697, 'MCT', 'BKK', 'WY815', 0, 0, 'OMA815', 0], ['36511257', '7816A2', 12.14, 106.97, 24, 39000, 480, '', 'F-VVTS3', 'B789', 'B-20AJ', 1721900695, 'KUL', 'PVG', 'FM886', 0, -64, 'CSH886', 0], ['3650af2d', '06A0EB', 11.39, 86.21, 116, 39000, 469, '', 'F-EST', 'A359', 'A7-AML', 1721900693, 'DOH', 'SIN', 'QR944', 0, 0, 'QTR944', 0], ['36512545', '7801B4', 14.64, 110.51, 216, 39000, 498, '', 'F-VVPC2', 'A333', 'B-HLU', 1721900696, 'HKG', 'KUL', 'CX729', 0, 0, 'CPA729', 0], ['3650be41', '75054C', 12.77, 80.66, 114, 39000, 482, '', 'F-VOMM8', 'A359', '9M-MAH', 1721900696, 'DOH', 'KUL', 'MH165', 0, 0, 'MAS165', 0], ['3651077e', '76CD74', 12.48, 109.1, 213, 39000, 508, '', 'F-VVTS5', 'A388', '9V-SKT', 1721900694, 'HKG', 'SIN', 'SQ893', 0, 0, 'SIA893', 0], ['36508d95', '77058E', 13.51, 105.39, 261, 38000, 493, '', 'F-VTUU1', 'A333', '4R-ALN', 1721900695, 'NRT', 'CMB', 'UL455', 0, 64, 'ALK455', 0], ['3651338f', '880858', 10.38, 100.32, 359, 38000, 431, '', 'F-VTSF2', 'A20N', 'HS-BBX', 1721900694, 'HDY', 'DMK', 'FD3119', 0, -64, 'AIQ3119', 0], ['3650d83d', '75046A', 10.77, 82.56, 294, 38000, 504, '', 'F-VCCT1', 'A332', '9M-MTU', 1721900696, 'KUL', 'JED', 'MH156', 0, 0, 'MAS156', 0], ['3650fcdb', '77044D', 13.27, 81.33, 200, 38000, 479, '', 'F-VOMM7', 'A320', '4R-ABM', 1721900693, 'KTM', 'CMB', 'UL182', 0, 0, 'ALK182', 0], ['36511e9e', '800D09', 12.62, 82.97, 266, 37975, 475, '', 'F-VOMM7', 'A20N', 'VT-IZB', 1721900694, 'IXZ', 'MAA', '6E2698', 0, 0, 'IGO2698', 0], ['3651218b', '880852', 14.51, 99.76, 357, 37975, 438, '', 'F-VTPH2', 'A320', 'HS-BBR', 1721900694, 'HKT', 'CNX', 'FD3159', 0, -128, 'AIQ3159', 0], ['3650b27b', '896537', 10.36, 88.27, 116, 37016, 478, '', 'F-SAT5', 'B789', 'A6-BLZ', 1721900693, 'AUH', 'KUL', 'EY416', 0, 0, 'ETD416', 0], ['36509647', '758707', 14.97, 97.1, 108, 37000, 457, '', 'F-VYYY2', 'A339', 'RP-C3905', 1721900696, 'DXB', 'MNL', '5J15', 0, 0, 'CEB015', 0], ['36514f47', '70400C', 13.69, 97.93, 143, 37000, 450, '', 'F-VTPH2', 'A319', 'XY-ALK', 1721900693, 'RGN', 'SIN', '8M233', 0, 0, 'MMA233', 0], ['3650bac4', '06A10F', 12.72, 83.44, 116, 37000, 483, '', 'F-VOMM7', 'A35K', 'A7-AOA', 1721900693, 'DOH', 'DPS', 'QR960', 0, 0, 'QTR960', 0], ['36513b0c', '88530B', 10.49, 99.9, 21, 37000, 421, '', 'F-VTSF2', 'A320', 'HS-TXK', 1721900694, 'HKT', 'BKK', 'TG216', 0, 64, 'THA216', 0], ['3650cd56', '7624E3', 12.31, 93.94, 135, 37000, 478, '', 'F-VOPB4', 'CL60', 'AP-IGC', 1721900695, 'LHE', '', '', 0, 64, 'APIGC', 0], ['3650aa1e', '06A2B3', 11.36, 87.23, 105, 37000, 481, '', 'F-SAT5', 'B77W', 'A7-BEO', 1721900697, 'DOH', 'HKT', 'QR846', 0, 0, 'QTR846', 0], ['36513c99', '880C44', 12.02, 100.17, 9, 36975, 424, '', 'F-VTBU2', 'A320', 'HS-CBD', 1721900696, 'KBV', 'DMK', 'FD3224', 0, 0, 'AIQ3224', 0], ['36505111', '7105B1', 13.95, 100.04, 95, 36975, 495, '', 'F-VTPT2', 'B78X', 'HZ-AR32', 1721900694, 'JED', 'MNL', 'SV870', 0, 64, 'SVA870', 0], ['3650d746', '781C9D', 10.13, 107.61, 213, 36050, 463, '', 'F-VVTS4', 'A20N', 'B-326R', 1721900696, 'PVG', 'SIN', '9C8549', 0, -64, 'CQH8549', 0], ['3650b727', '780B33', 11.65, 92.74, 249, 36000, 503, '', 'F-VOPB5', 'A332', 'B-5930', 1721900694, 'PVG', 'MLE', 'MU235', 0, 0, 'CES235', 0], ['365111e6', '780457', 13.53, 100.27, 207, 36000, 461, '', 'F-VTPH2', 'B738', 'B-1308', 1721900693, 'KMG', 'HKT', 'MU5093', 0, 0, 'CES5093', 0], ['36508a54', '71C218', 11.38, 119.22, 233, 36000, 519, '', 'F-RPVP2', 'B77W', 'HL8218', 1721900695, 'ICN', 'SIN', 'KE643', 0, 0, 'KAL643', 0], ['36513394', '880856', 14.4, 99.96, 186, 36000, 462, '', 'F-VTBH2', 'A320', 'HS-BBV', 1721900694, 'CNX', 'HKT', 'FD3162', 0, -64, 'AIQ3162', 0], ['36511168', '702066', 10.85, 99.91, 333, 36000, 426, '', 'F-VTBU2', 'B738', 'S2-AHO', 1721900696, 'SIN', 'DAC', 'BG585', 0, 0, 'BBC585', 0], ['36511e11', '888124', 12.15, 108.14, 157, 36000, 452, '', 'F-VVTS5', 'A359', 'VN-A891', 1721900695, 'HAN', 'SGN', 'VN7221', 0, -512, 'HVN7221', 0], ['365109d9', '8880A1', 13.36, 109.61, 212, 35975, 452, '', 'F-VVDN5', 'A321', 'VN-A393', 1721900696, 'CAN', 'SGN', 'VN503', 0, 0, 'HVN503', 0], ['365129e3', '7504A1', 11.73, 107.0, 249, 35975, 464, '', 'F-VDPP2', 'A320', '9M-RAN', 1721900696, 'DAD', 'KUL', 'AK641', 0, 0, 'AXM641', 0], ['365112d8', '8880A3', 11.01, 105.09, 195, 35975, 489, '', 'F-VDPP2', 'A321', 'VN-A395', 1721900696, 'HAN', 'KUL', 'VN681', 0, 0, 'HVN681', 0], ['3650ecd8', '8881DC', 12.99, 108.26, 176, 35225, 308, '', 'F-VVPC2', 'A333', 'VN-A815', 1721900695, 'HAN', 'SGN', 'VJ137', 0, -512, 'VJC137', 0], ['3650be64', '8881D8', 14.82, 107.87, 341, 35025, 477, '', 'F-VVDN1', 'A21N', 'VN-A527', 1721900694, 'DPS', 'HAN', 'VJ900', 0, 0, 'VJC900', 0], ['365142b8', '880458', 10.25, 99.15, 24, 35025, 402, '', 'F-VTSB1', 'A320', 'HS-ABX', 1721900694, 'HKT', 'DMK', 'FD3024', 0, -64, 'AIQ3024', 0], ['3650fa86', '8990E5', 14.11, 114.19, 29, 35000, 477, '', 'F-SAT5', 'B77W', 'B-16723', 1721900697, 'SIN', 'TPE', 'BR216', 0, 0, 'EVA216', 0], ['36512e65', '76B863', 13.67, 100.81, 136, 35000, 472, '', 'F-VTBH2', 'A21N', '9V-NCC', 1721900695, 'CNX', 'SIN', 'TR675', 0, 0, 'TGW675', 0], ['3651053a', '750485', 12.52, 110.75, 29, 35000, 471, '', 'F-VVPC2', 'A320', '9M-RAG', 1721900695, 'KUL', 'SZX', 'AK122', 0, 0, 'AXM122', 0], ['36512d47', '8007B2', 11.7, 85.57, 116, 35000, 456, '', 'F-EST', 'A320', 'VT-IFK', 1721900697, 'MAA', 'SIN', '6E1003', 0, 0, 'IGO1003', 0], ['36506cdc', '601828', 11.89, 104.54, 118, 35000, 492, '', 'F-VDPP1', 'B77W', 'EZ-A781', 1721900695, 'ASB', 'SGN', 'T5653', 0, 0, 'TUA653', 0], ['36511358', '7502C2', 13.82, 109.84, 212, 35000, 466, '', 'F-VVPC2', 'B38M', '9M-LRR', 1721900695, 'HKG', 'KUL', 'OD606', 0, 0, 'MXD606', 0], ['36512757', '7504B5', 11.14, 119.25, 26, 35000, 436, '', 'F-RPVS1', 'A320', '9M-RAT', 1721900694, 'BKI', 'HGH', 'AK1574', 0, 0, 'AXM1574', 0], ['3650afd3', '89656E', 10.26, 89.15, 113, 35000, 467, '', 'F-VOPB4', 'B78X', 'A6-BMI', 1721900689, 'AUH', 'HKT', 'EY432', 0, 0, 'ETD432', 0], ['36513757', '80152F', 10.92, 80.1, 1, 34975, 469, '', 'F-VOMD4', 'A20N', 'VT-IPF', 1721900695, 'CMB', 'HYD', '6E1182', 0, 0, 'IGO1182', 0], ['3650f229', '758369', 12.86, 118.79, 52, 34950, 452, '', 'F-RPVS1', 'A321', 'RP-C9914', 1721900694, 'SIN', 'MNL', 'PR508', 0, 0, 'PAL508', 0], ['3650d7d5', '8A093E', 10.96, 101.63, 346, 34025, 420, '', 'F-VTBU2', 'B738', 'PK-BGF', 1721900696, 'DPS', 'DMK', 'ID7637', 0, 64, 'BTK7637', 0], ['3650f6c2', '8A0418', 10.05, 101.92, 355, 34025, 431, '', 'F-VDPP1', 'A320', 'PK-AZG', 1721900695, 'CGK', 'DMK', 'QZ256', 0, 0, 'AWQ256', 0], ['36511450', '801441', 12.87, 81.4, 275, 34000, 460, '', 'F-VOMM7', 'A20N', 'VT-TYB', 1721900693, 'IXZ', 'BLR', 'UK508', 0, 0, 'VTI508', 0], ['36510efe', '7586CE', 13.96, 109.6, 273, 34000, 491, '', 'F-VVPC2', 'A339', 'RP-C3901', 1721900695, 'MNL', 'DXB', '5J14', 0, 0, 'CEB014', 0], ['3650f21b', '780558', 11.17, 99.76, 185, 34000, 486, '', 'F-VTPH2', 'A320', 'B-6560', 1721900693, 'TFU', 'HKT', 'MU573', 0, 64, 'CES573', 0], ['3650ac9f', '78124A', 10.36, 107.64, 211, 34000, 458, '', 'F-VVTS4', 'B738', 'B-1332', 1721900696, 'PVG', 'KUL', 'FM865', 0, 64, 'CSH865', 0], ['3650bd7a', '7812E1', 14.09, 100.63, 209, 34000, 472, '', 'F-VTPT2', 'B38M', 'B-1398', 1721900694, 'PEK', 'HKT', 'CA821', 0, -64, 'CCA821', 0], ['365137f9', '880845', 12.14, 104.28, 290, 34000, 464, '', 'F-VVPQ1', 'A320', 'HS-BBE', 1721900695, 'SGN', 'DMK', 'FD655', 0, 0, 'AIQ655', 0], ['36509a39', '886283', 13.98, 111.21, 270, 33996, 455, '', 'F-SAT5', 'A333', 'HS-XTC', 1721900697, 'NRT', 'BKK', 'XJ603', 0, 0, 'TAX603', 0], ['36512f5b', '8880E9', 12.0, 107.39, 249, 33975, 481, '', 'F-VVTS4', 'A321', 'VN-A651', 1721900696, 'DAD', 'VCA', 'VJ701', 0, 0, 'VJC701', 0], ['36512ad7', '88809C', 14.56, 109.12, 6, 33000, 467, '', 'F-VVDN1', 'A321', 'VN-A339', 1721900694, 'SGN', 'KHH', 'VN580', 0, -64, 'HVN580', 0], ['3650cd2c', '89630B', 12.5, 83.9, 115, 33000, 511, '', 'F-VOMM7', 'B77W', 'A6-ENI', 1721900697, 'DXB', 'DPS', 'EK398', 0, 0, 'UAE398', 0], ['36511dba', '780C61', 11.21, 100.0, 17, 33000, 426, '', 'F-VTSF2', 'B738', 'B-1968', 1721900695, 'HKT', 'PVG', 'FM894', 0, 0, 'CSH894', 0], ['36512bee', '7810B9', 12.34, 101.53, 36, 33000, 447, '', 'F-VTPH2', 'A320', 'B-8743', 1721900694, 'HKT', 'HGH', 'CA718', 0, -64, 'CCA718', 0], ['36510211', '885306', 14.19, 116.28, 88, 33000, 470, '', 'F-RPLU2', 'A320', 'HS-TXF', 1721900679, 'BKK', 'MNL', 'TG624', 0, 0, 'THA624', 0], ['3650f880', '899115', 13.03, 113.46, 30, 32975, 451, '', 'F-EST', 'A21N', 'B-18110', 1721900697, 'PEN', 'TPE', 'CI732', 0, 0, 'CAL732', 0], ['3650a589', '781140', 14.6, 81.17, 220, 32675, 478, '', 'F-VOMM8', 'B763', 'B-1423', 1721900696, 'SZX', 'MAA', 'O3103', 0, -1984, 'CSS103', 0], ['3651129b', '76CC6C', 12.34, 101.21, 8, 32450, 462, '', 'F-VTPH2', 'B78X', '9V-SCL', 1721900694, 'SIN', 'BKK', 'SQ712', 0, -2432, 'SIA712', 0], ['36511282', '781CE4', 12.08, 101.34, 352, 32050, 432, '', 'F-VTPH2', 'A21N', 'B-327T', 1721900694, 'SIN', 'TFU', 'CA404', 0, -64, 'CCA404', 0], ['3650f2bd', '781C2A', 11.49, 99.76, 180, 32025, 481, '', 'F-VTPH2', 'A21N', 'B-325F', 1721900694, 'TFU', 'HKT', '3U3931', 0, 0, 'CSC3931', 0], ['36513b9b', '8830F0', 12.35, 99.64, 200, 32000, 474, '', 'F-VTBU2', 'B738', 'HS-LGP', 1721900696, 'DMK', 'URT', 'SL746', 0, 0, 'TLM746', 0], ['3651172c', '780E36', 13.95, 109.87, 212, 32000, 461, '', 'F-VVPC2', 'A320', 'B-MCB', 1721900696, 'MFM', 'CGK', 'NX910', 0, 0, 'AMU910', 0], ['36511ed9', '880451', 11.16, 101.47, 358, 32000, 427, '', 'F-VTPH2', 'A320', 'HS-ABQ', 1721900694, 'JHB', 'DMK', 'FD511', 0, 0, 'AIQ511', 0], ['36512381', '88808C', 11.98, 108.55, 183, 32000, 436, '', 'F-VVTS4', 'A321', 'VN-A325', 1721900696, 'HPH', 'SGN', 'VN1183', 0, 0, 'HVN1183', 0], ['36510558', '781706', 13.01, 116.66, 160, 32000, 456, '', 'F-RPLU2', 'A21N', 'B-309J', 1721900693, 'CAN', 'BKI', 'CZ8335', 0, 0, 'CSN8335', 0], ['36512ad2', '888053', 14.98, 105.52, 194, 32000, 464, '', 'F-VTUU1', 'A321', 'VN-A357', 1721900695, 'HAN', 'SAI', 'VN837', 0, 0, 'HVN837', 0], ['36512e56', '80155F', 14.79, 95.32, 283, 32000, 493, '', 'F-VYYY2', 'A21N', 'VT-TVG', 1721900695, 'BKK', 'BOM', 'UK124', 0, 0, 'VTI124', 0], ['3650df29', '781929', 11.12, 110.01, 28, 31975, 473, '', 'F-VVPC2', 'A21N', 'B-30EQ', 1721900696, 'SIN', 'PVG', 'HO1602', 0, 0, 'DKH1602', 0], ['3650bc1f', '782001', 13.12, 111.07, 30, 31975, 480, '', 'F-VVPC2', 'A21N', 'B-32FS', 1721900696, 'CGK', 'CAN', 'CZ3038', 0, 0, 'CSN3038', 0], ['36513fc3', '880441', 11.12, 99.37, 184, 31700, 469, '', 'F-VTPH2', 'A320', 'HS-ABA', 1721900694, 'DMK', 'URT', 'FD3331', 0, -1472, 'AIQ3331', 0], ['3651495a', '880C4B', 10.41, 99.58, 8, 31000, 418, '', 'F-VTSF2', 'A20N', 'HS-CBK', 1721900694, 'URT', 'DMK', 'FD3232', 0, 0, 'AIQ3232', 0], ['36510663', '888040', 14.21, 105.26, 39, 31000, 466, '', 'F-VTUU1', 'A321', 'VN-A685', 1721900694, 'SIN', 'HAN', 'VJ916', 0, 0, 'VJC916', 0], ['36511819', '8881BA', 12.45, 103.48, 117, 31000, 455, '', 'F-VDPP2', 'A321', 'VN-A289', 1721900696, 'BKK', 'SGN', 'VU120', 0, 0, 'VAG120', 0], ['36512e9f', '781502', 12.62, 100.32, 11, 31000, 452, '', 'F-VTPH2', 'B738', 'B-206E', 1721900694, 'HKT', 'CSX', 'BK2984', 0, 0, 'OKA2984', 0], ['3650fe24', '8881E0', 13.53, 107.34, 19, 30975, 452, '', 'F-VVBM1', 'A321', 'VN-A227', 1721900694, 'SGN', 'DAD', 'QH162', 0, -64, 'BAV162', 0], ['3651179a', '78060C', 14.24, 102.41, 75, 30675, 414, '', 'F-VDBG3', 'A320', 'B-6646', 1721900696, 'DMK', 'NGB', '9C7432', 0, 832, 'CQH7432', 0], ['36513262', '781C1F', 13.77, 108.41, 26, 30575, 476, '', 'F-VVDN5', 'B752', 'B-220Z', 1721900696, 'SGN', 'SZX', 'O3142', 0, 1728, 'CSS142', 0], ['36513e58', '884202', 11.94, 100.65, 181, 30175, 457, '', 'F-VTBU2', 'A319', 'HS-PPB', 1721900696, 'BKK', 'USM', 'PG147', 0, 832, 'BKP147', 0], ['36511f52', '888093', 11.72, 108.46, 173, 30000, 446, '', 'F-VVTS4', 'A321', 'VN-A332', 1721900696, 'DAD', 'SGN', 'VN131', 0, 0, 'HVN131', 0], ['365148cf', '888198', 13.89, 109.06, 359, 29875, 483, '', 'F-VVDN5', 'A21N', 'VN-A512', 1721900696, 'CXR', 'HAN', 'VN1556', 0, 896, 'HVN1556', 0], ['36513d8a', '78927E', 14.52, 102.73, 49, 29250, 468, '', 'F-VTUU1', 'A21N', 'B-KKB', 1721900695, 'BKK', 'HKG', 'UO701', 0, 320, 'HKE701', 0], ['3651192a', '888138', 11.48, 108.4, 231, 28475, 349, '', 'F-VVTS4', 'A359', 'VN-A893', 1721900695, 'HAN', 'SGN', 'VN215', 0, -640, 'HVN215', 0], ['36512c29', '88813F', 11.37, 105.64, 122, 28325, 481, '', 'F-VVTS4', 'A321', 'VN-A636', 1721900696, 'BKK', 'SGN', 'VJ804', 0, -832, 'VJC804', 0], ['3650d6bc', '78193E', 14.51, 101.78, 247, 27025, 436, '', 'F-VTBS3', 'A20N', 'B-30F2', 1721900694, 'HGH', 'BKK', 'GJ8021', 0, -1792, 'CDC8021', 0], ['365134aa', '7800C2', 13.46, 107.9, 68, 27000, 475, '', 'F-VVBM1', 'A321', 'B-6657', 1721900694, 'SGN', 'SZX', 'CZ6096', 0, 0, 'CSN6096', 0], ['36514003', '', 13.73, 101.57, 83, 26900, 466, '', 'F-VTBU2', 'GLF4', '', 1721900696, '', '', '', 0, 768, 'GLF4', 0], ['365133f9', '880855', 12.45, 100.66, 181, 26825, 455, '', 'F-VTBH2', 'A320', 'HS-BBU', 1721900694, 'DMK', 'HDY', 'FD3114', 0, 640, 'AIQ3114', 0], ['3650b08a', '8881E1', 10.44, 105.65, 255, 26675, 422, '', 'F-VVTS4', 'A21N', 'VN-A538', 1721900696, 'TPE', 'PQC', 'VJ845', 0, -2048, 'VJC845', 0], ['36511db1', '885311', 14.76, 103.44, 63, 25850, 488, '', 'F-VDBG3', 'A320', 'HS-TXQ', 1721900696, 'BKK', 'UBP', 'TG28', 0, -3136, 'THA028', 0], ['3650ea88', '76B869', 13.63, 119.8, 52, 25625, 388, '', 'F-RPLU2', 'A21N', '9V-NCI', 1721900694, 'SIN', 'MNL', 'TR390', 0, -960, 'TGW390', 0], ['36514ba8', '88819E', 13.14, 109.11, 355, 25575, 450, '', 'F-VVPC2', 'A321', 'VN-A585', 1721900696, 'CXR', 'HAN', 'QH1416', 0, 1472, 'BAV1416', 0], ['36513d12', '75033C', 12.63, 100.92, 163, 24850, 436, '', 'F-VTPH2', 'A320', '9M-AJE', 1721900694, 'DMK', 'KUL', 'AK887', 0, 640, 'AXM887', 0], ['36514e46', '78088D', 12.51, 108.93, 331, 24275, 406, '', 'F-VVBM1', 'B738', 'B-5645', 1721900694, 'CXR', 'CAN', 'CZ6050', 0, 704, 'CSN6050', 0], ['36513d83', '888052', 11.78, 106.91, 50, 23950, 456, '', 'F-VVTS3', 'A321', 'VN-A356', 1721900693, 'SGN', 'PXU', 'VN1422', 0, 1472, 'HVN1422', 0], ['365141f9', '8015B2', 13.58, 80.9, 77, 23700, 474, '', 'F-VOMM7', 'A21N', 'VT-IBL', 1721900694, 'MAA', 'CCU', '6E986', 0, 1856, 'IGO99C', 0], ['36512f1b', '884203', 13.07, 100.47, 6, 20850, 346, '', 'F-VDBG3', 'A319', 'HS-PPC', 1721900696, 'USM', 'BKK', 'PG146', 0, -2560, 'BKP146', 0], ['36514bb1', '70E064', 13.3, 108.91, 185, 20575, 343, '', 'F-VVBM1', 'A319', 'XU-878', 1721900694, 'UIH', 'SGN', 'VU451', 0, 1024, 'VAG451', 0], ['3650eb77', '8990E1', 11.0, 108.05, 271, 19650, 324, '', 'F-VVTS5', 'B77W', 'B-16719', 1721900694, 'TPE', 'SGN', 'BR391', 0, -768, 'EVA391', 0], ['365146e1', '899084', 11.17, 106.67, 34, 18475, 360, '', 'F-VVTS3', 'B738', 'B-18667', 1721900695, 'SGN', 'RMQ', 'AE1858', 0, 1472, 'MDA1858', 0], ['3650f4ee', '780827', 12.4, 105.9, 230, 18425, 369, '', 'F-VDPP2', 'B738', 'B-5635', 1721900696, 'XMN', 'PNH', 'MF895', 0, -1600, 'CXA895', 0], ['36513965', '70E029', 11.3, 105.67, 311, 17050, 181, '', 'F-VVTS4', 'AT75', 'XU-236', 1721900696, 'SGN', 'SAI', 'K6829', 0, 384, 'KHV829', 0], ['3651439a', '75879A', 12.4, 119.96, 27, 17000, 250, '', 'F-RPLU2', 'AT76', 'RP-C7203', 1721900694, 'ENI', 'MNL', 'T6147', 0, 0, 'ATX147', 0], ['36512c68', '885963', 13.27, 100.62, 39, 15450, 347, '', 'F-VTPH2', 'A320', 'HS-VKC', 1721900694, 'HKT', 'BKK', 'VZ2301', 0, -1536, 'TVJ2301', 0], ['365123f6', '780552', 14.25, 100.51, 53, 15300, 400, '', 'F-VTBD3', 'A320', 'B-6562', 1721900696, 'DMK', 'NNG', '9C7492', 0, 2176, 'CQH7492', 0], ['36513a40', '800CE1', 14.7, 80.48, 187, 14000, 245, '', 'F-VOMM7', 'AT76', 'VT-IYK', 1721900693, 'VGA', 'MAA', '6E7046', 0, 64, 'IGO7046', 0], ['36510490', '780190', 10.99, 107.59, 246, 13850, 288, '', 'F-VVTS4', 'A333', 'B-HLP', 1721900696, 'HKG', 'SGN', 'CX799', 0, -1216, 'CPA799', 0], ['3650e457', '8991DE', 14.2, 101.39, 223, 13200, 360, '', 'F-VTPH2', 'A339', 'B-58303', 1721900694, 'TPE', 'BKK', 'JX745', 0, -1280, 'SJX745', 0], ['3651272c', '88813E', 12.76, 109.35, 183, 12050, 357, '', 'F-VVPC2', 'A321', 'VN-A635', 1721900695, 'HPH', 'CXR', 'VJ731', 0, -256, 'VJC731', 0], ['36510060', '881422', 13.8, 100.29, 31, 11875, 334, '', 'F-VTBH2', 'A21N', 'HS-EAB', 1721900695, 'SIN', 'DMK', 'FD356', 0, -896, 'AIQ356', 0], ['3651466d', '884345', 10.54, 100.18, 6, 11425, 209, '', 'F-VTSF2', 'AT76', 'HS-PZE', 1721900697, 'USM', 'BKK', 'PG150', 0, 0, 'BKP150', 0], ['3650e5b4', '75839F', 13.62, 100.91, 304, 11350, 230, '', 'F-VTBD2', 'A321', 'RP-C9916', 1721900696, 'MNL', 'BKK', 'PR736', 0, -832, 'PAL736', 0], ['36512b91', '70E06E', 13.52, 101.15, 91, 11325, 348, '', 'F-VTBD2', 'A320', 'XU-763', 1721900696, 'BKK', 'PNH', 'KR704', 0, 2944, 'KME704', 0], ['36514281', '886288', 13.71, 100.66, 19, 10850, 314, '', 'F-VTBS5', 'A333', 'HS-XTH', 1721900695, 'BKK', 'ICN', 'XJ702', 0, 1152, 'TAX702', 0], ['365100e5', '8850AE', 14.22, 100.66, 171, 10450, 305, '', 'F-VTPH2', 'A333', 'HS-TEN', 1721900693, 'DAC', 'BKK', 'TG322', 0, -832, 'THA322', 0], ['36510953', '8880AF', 11.01, 107.41, 252, 9425, 243, '', 'F-VVTS4', 'A320', 'VN-A689', 1721900696, 'HAN', 'SGN', 'VJ135', 0, -512, 'VJC135', 0], ['36514932', '880C4C', 13.77, 100.42, 193, 9125, 274, '', 'F-VTBD2', 'A320', 'HS-CBL', 1721900696, 'DMK', 'ROI', 'FD3562', 0, 2560, 'AIQ3562', 0], ['36514203', '882C73', 13.91, 100.49, 291, 8325, 227, '', 'F-VTBD3', 'C750', 'HS-KCS', 1721900696, 'DMK', '', '', 0, -64, 'HSKCS', 0], ['3650f50c', '80155C', 13.08, 80.75, 348, 8325, 222, '', 'F-VOMM7', 'A21N', 'VT-IBH', 1721900694, 'DEL', 'MAA', '6E5154', 0, -768, 'IGO5154', 0], ['36510f9f', 'A046B6', 13.75, 100.9, 347, 7725, 242, '', 'F-VTPH2', 'B763', 'N117FE', 1721900694, 'SIN', 'BKK', 'FX6091', 0, -512, 'FDX6091', 0], ['36514432', '88516E', 13.51, 100.84, 86, 7700, 331, '', 'F-VTBS5', 'B77W', 'HS-TKN', 1721900695, 'BKK', 'SIN', 'TG409', 0, 896, 'THA409', 0], ['3650e97b', '88808D', 10.6, 107.38, 7, 7275, 254, '', 'F-VVTS4', 'A321', 'VN-A326', 1721900696, 'CGK', 'SGN', 'VN630', 0, 0, 'HVN630', 0], ['3651132e', '885118', 13.99, 100.73, 22, 7275, 245, '', 'F-VTPH2', 'A359', 'HS-THX', 1721900694, 'KMG', 'BKK', 'TG613', 0, -960, 'THA613', 0], ['3650ef2

### Saving data in DataFrame

In [73]:
in_bound_data = response.json()['aircraft']

In [102]:
in_boundary_df = spark \
                  .createDataFrame(in_bound_data) \
                  .withColumnRenamed('_1', 'flight_id') \
                  .withColumnRenamed('_2', 'flight') \
                  .withColumnRenamed('_3', 'lat') \
                  .withColumnRenamed('_4', 'lon') \
                  .withColumnRenamed('_10', 'aircraf_model') \
                  .withColumnRenamed('_11', 'aircraft_registration') \
                  .withColumnRenamed('_13', 'from_iata') \
                  .withColumnRenamed('_14', 'to_iata') \
                  .withColumn('airline_ICAO', col('_18')[0:3]) \
                  .drop('_18')



in_boundary_df.show()

+---------+------+-----+------+---+-----+---+---+-------+-------------+---------------------+----------+---------+-------+-----+---+---+---+------------+
|flight_id|flight|  lat|   lon| _5|   _6| _7| _8|     _9|aircraf_model|aircraft_registration|       _12|from_iata|to_iata|  _15|_16|_17|_19|airline_ICAO|
+---------+------+-----+------+---+-----+---+---+-------+-------------+---------------------+----------+---------+-------+-----+---+---+---+------------+
| 3650cd17|      |13.77| 80.49|109|47000|428|   |F-VOMM8|         GLF6|                     |1721900696|         |       |     |  0|  0|  0|         GLF|
| 3650fd72|76BCC3|13.15| 91.09|312|43000|489|   |F-VOPB4|         B788|               9V-OFC|1721900695|      SIN|    ATQ|TR512|  0|  0|  0|         TGW|
| 3650f033|76CD12|13.13| 118.9| 41|41000|443|   |F-RPVS1|         A359|               9V-SHR|1721900695|      SIN|    ICN|SQ606|  0|  0|  0|         SIA|
| 36511317|76CD0A|12.58| 83.73|116|41000|448|   |F-VOMM7|         A359|               9V-SHJ|1721900692|      BOM|    SIN|SQ421|  0|  0|  0|         SIA|
| 3650f5db|76CD0B|10.19| 86.39|294|40004|525|   | F-SAT5|         A359|               9V-SHK|1721900697|      SIN|    DXB|SQ494|  0|  0|  0|         SIA|
| 36511075|780D77|11.87|110.35| 29|40000|482|   |T-VVTH3|         B788|               B-2762|1721900695|      SIN|    XMN|MF852|  0|  0|  0|         CXA|
| 3650ab32|89916C|12.45|111.93|215|40000|499|   |T-VVTH3|         A359|              B-18919|1721900678|      TPE|    SIN|CI753|  0|  0|  0|         CAL|
| 36510ac2|750543|10.82|108.19|193|40000|476|   |F-VVTS4|         A333|               9M-XBH|1721900696|      HKG|    KUL|D7693|  0|  0|  0|         XAX|
| 3650e2e6|76CDA5|13.06|109.46|212|40000|509|   |F-VVPC2|         A359|               9V-SME|1721900696|      PVG|    SIN|SQ831|  0|  0|  0|         SIA|
| 3650ccaa|750255|14.43|110.35|216|40000|498|   |F-VVPC2|         A333|               9M-MTB|1721900695|      PKX|    KUL|MH319|  0|  0|  0|         MAS|
| 3651279c|8880DF|14.65|108.17|181|39975|488|   |F-VVPC2|         B789|              VN-A861|1721900696|      HAN|    SGN|VN249|  0|-64|  0|         HVN|
| 36500307|80073F|12.45|  93.8|315|39975|478|   |F-VOPB4|         B788|               VT-ANY|1721900695|      MEL|    DEL|AI309|  0|-64|  0|         AIC|
| 36511929|780A0D|13.96| 110.0|214|39000|489|   |F-VVPC2|         A333|                B-LAP|1721900696|      HKG|    CGK|CX719|  0|  0|  0|         CPA|
| 3650af9b|70C0F9|14.86| 93.89| 98|39000|482|   |  F-EST|         B789|               A4O-SF|1721900697|      MCT|    BKK|WY815|  0|  0|  0|         OMA|
| 36511257|7816A2|12.14|106.97| 24|39000|480|   |F-VVTS3|         B789|               B-20AJ|1721900695|      KUL|    PVG|FM886|  0|-64|  0|         CSH|
| 3650af2d|06A0EB|11.39| 86.21|116|39000|469|   |  F-EST|         A359|               A7-AML|1721900693|      DOH|    SIN|QR944|  0|  0|  0|         QTR|
| 36512545|7801B4|14.64|110.51|216|39000|498|   |F-VVPC2|         A333|                B-HLU|1721900696|      HKG|    KUL|CX729|  0|  0|  0|         CPA|
| 3650be41|75054C|12.77| 80.66|114|39000|482|   |F-VOMM8|         A359|               9M-MAH|1721900696|      DOH|    KUL|MH165|  0|  0|  0|         MAS|
| 3651077e|76CD74|12.48| 109.1|213|39000|508|   |F-VVTS5|         A388|               9V-SKT|1721900694|      HKG|    SIN|SQ893|  0|  0|  0|         SIA|
| 36508d95|77058E|13.51|105.39|261|38000|493|   |F-VTUU1|         A333|               4R-ALN|1721900695|      NRT|    CMB|UL455|  0| 64|  0|         ALK|
+---------+------+-----+------+---+-----+---+---+-------+-------------+---------------------+----------+---------+-------+-----+---+---+---+------------+
only showing top 20 rows

### Testing columns

In [81]:
in_boundary_df \
              .join(
                  aircraft_dim,
                  in_boundary_df.aircraf_model == aircraft_dim.code,
                  'left'
              ) \
              .select(
                  ['flight_id', 'aircraf_model', 'aircraftName']
              ) \
              .show()

+---------+-------------+---------------+
|flight_id|aircraf_model|   aircraftName|
+---------+-------------+---------------+
| 3651338f|         A20N| Airbus A320neo|
| 3650d6bc|         A20N| Airbus A320neo|
| 3650b08a|         A21N| Airbus A321neo|
| 3650ea88|         A21N| Airbus A321neo|
| 365141f9|         A21N| Airbus A321neo|
| 36512f1b|         A319|    Airbus A319|
| 36514bb1|         A319|    Airbus A319|
| 365133f9|         A320|    Airbus A320|
| 36511db1|         A320|    Airbus A320|
| 36513d12|         A320|    Airbus A320|
| 36512c68|         A320|    Airbus A320|
| 365123f6|         A320|    Airbus A320|
| 365134aa|         A321|    Airbus A321|
| 36514ba8|         A321|    Airbus A321|
| 36513d83|         A321|    Airbus A321|
| 36510ac2|         A333|Airbus A330-300|
| 3650ccaa|         A333|Airbus A330-300|
| 36511929|         A333|Airbus A330-300|
| 36512545|         A333|Airbus A330-300|
| 36508d95|         A333|Airbus A330-300|
+---------+-------------+---------------+
only showing top 20 rows

In [98]:
in_boundary_df \
              .join(
                  airline_dim,
                  in_boundary_df.airline_ICAO == airline_dim.ICAO,
                  'left'
              ) \
              .select(
                  ['flight_id', 'airline_ICAO', 'Name']
              ) \
              .show()

+---------+------------+--------------------+
|flight_id|airline_ICAO|                Name|
+---------+------------+--------------------+
| 36500307|         AIC|           Air India|
| 3651338f|         AIQ|        Thai AirAsia|
| 365133f9|         AIQ|        Thai AirAsia|
| 36508d95|         ALK|  SriLankan Airlines|
| 3651439a|         ATX|            AirSWIFT|
| 36513d12|         AXM|             AirAsia|
| 36514ba8|         BAV|      Bamboo Airways|
| 36512f1b|         BKP|     Bangkok Airways|
| 3650ab32|         CAL|      China Airlines|
| 3650d6bc|         CDC|           Loong Air|
| 36511929|         CPA|      Cathay Pacific|
| 36512545|         CPA|      Cathay Pacific|
| 365123f6|         CQH|     Spring Airlines|
| 36511257|         CSH|   Shanghai Airlines|
| 365134aa|         CSN|China Southern Ai...|
| 36514e46|         CSN|China Southern Ai...|
| 36511075|         CXA|          Xiamen Air|
| 3650f4ee|         CXA|          Xiamen Air|
| 3650eb77|         EVA|             EVA Air|
| 3650cd17|         GLF|                NULL|
+---------+------------+--------------------+
only showing top 20 rows